/*$color-box-shadow: rgb(249, 250, 250);*/
@font-face {
  font-family: "montserratlight";
  src: url("fonts/montserrat-light-webfont.eot");
  src: url("fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-light-webfont.woff2") format("woff2"), url("fonts/montserrat-light-webfont.woff") format("woff"), url("fonts/montserrat-light-webfont.ttf") format("truetype"), url("fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratmedium";
  src: url("fonts/montserrat-medium-webfont.eot");
  src: url("fonts/montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-medium-webfont.woff2") format("woff2"), url("fonts/montserrat-medium-webfont.woff") format("woff"), url("fonts/montserrat-medium-webfont.ttf") format("truetype"), url("fonts/montserrat-medium-webfont.svg#montserratmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratregular";
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratsemibold";
  src: url("fonts/montserrat-semibold-webfont.eot");
  src: url("fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("fonts/montserrat-semibold-webfont.woff") format("woff"), url("fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("fonts/montserrat-semibold-webfont.svg#montserratsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratbold";
  src: url("fonts/montserrat-bold-webfont.eot");
  src: url("fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-bold-webfont.woff2") format("woff2"), url("fonts/montserrat-bold-webfont.woff") format("woff"), url("fonts/montserrat-bold-webfont.ttf") format("truetype"), url("fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratblack";
  src: url("fonts/montserrat-black-webfont.eot");
  src: url("fonts/montserrat-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-black-webfont.woff2") format("woff2"), url("fonts/montserrat-black-webfont.woff") format("woff"), url("fonts/montserrat-black-webfont.ttf") format("truetype"), url("fonts/montserrat-black-webfont.svg#montserratblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansbold";
  src: url("fonts/opensans-bold-webfont.eot");
  src: url("fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-bold-webfont.woff2") format("woff2"), url("fonts/opensans-bold-webfont.woff") format("woff"), url("fonts/opensans-bold-webfont.ttf") format("truetype"), url("fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("fonts/opensans-light-webfont.eot");
  src: url("fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-light-webfont.woff2") format("woff2"), url("fonts/opensans-light-webfont.woff") format("woff"), url("fonts/opensans-light-webfont.ttf") format("truetype"), url("fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansregular";
  src: url("fonts/opensans-regular-webfont.eot");
  src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanssemibold";
  src: url("fonts/opensans-semibold-webfont.eot");
  src: url("fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold-webfont.woff2") format("woff2"), url("fonts/opensans-semibold-webfont.woff") format("woff"), url("fonts/opensans-semibold-webfont.ttf") format("truetype"), url("fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoblack";
  src: url("fonts/lato-black-webfont.eot");
  src: url("fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-black-webfont.woff2") format("woff2"), url("fonts/lato-black-webfont.woff") format("woff"), url("fonts/lato-black-webfont.ttf") format("truetype"), url("fonts/lato-black-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latobold";
  src: url("fonts/lato-bold-webfont.eot");
  src: url("fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-bold-webfont.woff2") format("woff2"), url("fonts/lato-bold-webfont.woff") format("woff"), url("fonts/lato-bold-webfont.ttf") format("truetype"), url("fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latolight";
  src: url("fonts/lato-light-webfont.eot");
  src: url("fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-light-webfont.woff2") format("woff2"), url("fonts/lato-light-webfont.woff") format("woff"), url("fonts/lato-light-webfont.ttf") format("truetype"), url("fonts/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoregular";
  src: url("fonts/lato-regular-webfont.eot");
  src: url("fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-regular-webfont.woff2") format("woff2"), url("fonts/lato-regular-webfont.woff") format("woff"), url("fonts/lato-regular-webfont.ttf") format("truetype"), url("fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nunitobold";
  src: url("fonts/nunito-bold-webfont.eot");
  src: url("fonts/nunito-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nunito-bold-webfont.woff2") format("woff2"), url("fonts/nunito-bold-webfont.woff") format("woff"), url("fonts/nunito-bold-webfont.ttf") format("truetype"), url("fonts/nunito-bold-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nunitoregular";
  src: url("fonts/nunito-regular-webfont.eot");
  src: url("fonts/nunito-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nunito-regular-webfont.woff2") format("woff2"), url("fonts/nunito-regular-webfont.woff") format("woff"), url("fonts/nunito-regular-webfont.ttf") format("truetype"), url("fonts/nunito-regular-webfont.svg#nunitoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nunitosemibold";
  src: url("fonts/nunito-semibold-webfont.eot");
  src: url("fonts/nunito-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nunito-semibold-webfont.woff2") format("woff2"), url("fonts/nunito-semibold-webfont.woff") format("woff"), url("fonts/nunito-semibold-webfont.ttf") format("truetype"), url("fonts/nunito-semibold-webfont.svg#nunitosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("fonts/roboto-bold-webfont.eot");
  src: url("fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-bold-webfont.woff2") format("woff2"), url("fonts/roboto-bold-webfont.woff") format("woff"), url("fonts/roboto-bold-webfont.ttf") format("truetype"), url("fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("fonts/roboto-light-webfont.eot");
  src: url("fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-light-webfont.woff2") format("woff2"), url("fonts/roboto-light-webfont.woff") format("woff"), url("fonts/roboto-light-webfont.ttf") format("truetype"), url("fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("fonts/roboto-medium-webfont.eot");
  src: url("fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-medium-webfont.woff2") format("woff2"), url("fonts/roboto-medium-webfont.woff") format("woff"), url("fonts/roboto-medium-webfont.ttf") format("truetype"), url("fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("fonts/roboto-regular-webfont.eot");
  src: url("fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-regular-webfont.woff2") format("woff2"), url("fonts/roboto-regular-webfont.woff") format("woff"), url("fonts/roboto-regular-webfont.ttf") format("truetype"), url("fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "muliregular";
  src: url("fonts/muli-variablefont_wght-webfont.eot");
  src: url("fonts/muli-variablefont_wght-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/muli-variablefont_wght-webfont.woff2") format("woff2"), url("fonts/muli-variablefont_wght-webfont.woff") format("woff"), url("fonts/muli-variablefont_wght-webfont.ttf") format("truetype"), url("fonts/muli-variablefont_wght-webfont.svg#muliregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.myBody {
  font-family: "open_sansregular", sans-serif;
}

.myName {
  font-family: "robotoregular", sans-serif;
}

.navBar {
  font-family: "montserratmedium", sans-serif;
}

.capitalLetter {
  font-family: "montserratblack", sans-serif;
}

.firstname {
  font-family: "robotobold", sans-serif;
}

.firstSection__mainTitle {
  font-family: "robotobold", sans-serif;
}

.firstSection__text {
  font-family: "montserratmedium", sans-serif;
}

.myResume {
  font-family: "muliregular", sans-serif;
}

.myPic {
  position: relative;
  right: 5%;
}

.button {
  font-family: "montserratmedium", sans-serif;
  font-size: 0.9em;
  background: white;
  color: #3c3c3c;
  border-radius: 25px;
  padding: 1.5% 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.button__download {
  border: 2px solid #56C7A1;
  margin-right: 1%;
}
.button__download:hover {
  background: #56C7A1;
  color: white;
  transition: background 350ms, color 400ms;
}
.button__download:focus {
  outline-style: none;
  box-shadow: 0 0 0 2px lightblue;
}
.button__contact {
  border: 2px solid lightgrey;
  color: grey;
}
.button__contact:hover {
  background: lightgrey;
  color: black;
  transition: background 350ms, color 400ms;
}
.button__contact:focus {
  outline-style: none;
  box-shadow: 0 0 0 2px lightblue;
}

.myNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4%;
  align-items: baseline;
  margin-left: -1%;
  margin-top: -1%;
}

.navBar {
  font-size: 0.9em;
  word-spacing: 4em;
}
.navBar a {
  text-decoration: none;
  color: grey;
  word-spacing: normal;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .navBar {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
}

.nameTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
@media (max-width: 900px) {
  .nameTitle {
    flex-direction: column;
    align-items: center;
  }
}

.capitalLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #55CC95;
  height: 45px;
  min-height: 45px;
  width: 45px;
  min-width: 45px;
  border-radius: 45px;
  font-size: 2em;
  color: white;
  background-color: #55CC95;
  position: relative;
  top: 3px;
}

.fullname {
  font-size: 1.3em;
  padding-left: 4%;
  white-space: nowrap;
}

.myName {
  position: relative;
  left: -13%;
  width: 20%;
}

.firstSection {
  margin-top: 5%;
  padding-bottom: 10%;
}
.firstSection__mainTitle {
  padding-bottom: 3%;
  font-size: 3.2em;
  color: #3c3c3c;
}
.firstSection__secondTitle {
  font-size: 1em;
  color: #b4b4b4;
}
.firstSection__text {
  color: grey;
  font-size: 0.9em;
  padding-bottom: 3%;
}
.firstSection__myPic {
  right: 8%;
  width: 370px;
  min-width: 370px;
  height: 370px;
  border-radius: 100%;
  border: 18px solid white;
  box-shadow: 0px 0px 20px 5px #edeeee;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .firstSection__myPic {
    margin: auto;
  }
}
@media (max-width: 900px) {
  .firstSection__myPic {
    display: none;
  }
}
.firstSection__myJob {
  padding-top: 4%;
  right: 4%;
}

.myResume__container {
  padding: 3%;
  margin-left: 2.5%;
}
.myResume__box {
  height: 30%;
}
.myResume__box--outlining {
  border-left: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  margin-left: 3%;
  padding-top: 4%;
}
.myResume__box--first {
  padding-top: 1%;
}
.myResume__box--skills {
  height: 40px;
  margin-bottom: 1%;
}
.myResume__categories {
  width: 100%;
}
.myResume__margin {
  margin-bottom: 10%;
}
.myResume__position {
  position: relative;
  right: 5.5%;
}
.myResume__date {
  border: 2px solid #56C7A1;
  padding: 0.75% 1.5%;
  border-radius: 25px;
  background: white;
  font-size: 0.7em;
  font-weight: 600;
  color: grey;
}
.myResume__place {
  color: #b4b4b4;
  font-size: 0.8em;
}
.myResume__indent {
  padding-left: 1.5%;
  padding-bottom: 1.5%;
}
.myResume__title {
  font-size: 1em;
  font-weight: 700;
}
.myResume__title--categoryTitle {
  font-size: 1.3em;
  background: white;
  height: 60px;
}
.myResume__title--content {
  font-size: 0.8em;
}
.myResume__text {
  color: grey;
  font-size: 0.9em;
  letter-spacing: 0.0005em;
  word-spacing: 0.005em;
}
.myResume__underlining {
  background: whitesmoke;
  border: none;
  border-radius: 25px;
  width: 115px;
  height: 2.5px;
  display: flex;
  justify-content: flex-start;
}
.myResume__underlining--green {
  background: #56C7A1;
  width: 30%;
}
.myResume__skillSet {
  display: flex;
  justify-content: space-between;
  height: 22px;
}
.myResume__progressBar {
  background: white;
  border: 2px solid lightgrey;
  border-radius: 25px;
  width: 100%;
  height: 13px;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
}
.myResume__progressLevel--comm {
  width: 75%;
  background: #56C7A1;
  border-radius: 25px;
}
.myResume__progressLevel--html {
  width: 90%;
  background: #56C7A1;
  border-radius: 25px;
}
.myResume__progressLevel--tmwork {
  width: 75%;
  background: #56C7A1;
  border-radius: 25px;
}
.myResume__progressLevel--bsnss {
  width: 45%;
  background: #56C7A1;
  border-radius: 25px;
}
.myResume__progressLevel--emInt {
  width: 70%;
  background: #56C7A1;
  border-radius: 25px;
}
.myResume__progressLevel--js {
  width: 50%;
  background: #56C7A1;
  border-radius: 25px;
}
.myResume__progressLevel--node {
  width: 30%;
  background: #56C7A1;
  border-radius: 25px;
}
.myResume__progressLevel--mysql {
  width: 2%;
  background: #56C7A1;
  border-radius: 25px;
}
.myResume__levelDigit {
  font-size: 0.75em;
  color: #b4b4b4;
}

/*# sourceMappingURL=style.css.map */
