.firstSection {
	margin-top: 5%;
	padding-bottom: 10%;
	&__mainTitle {
		padding-bottom: 3%;
		font-size: 3.2em;
		font-weight: 700;
		color: $color-main-title;
		@include very-small_screen {
			font-weight: 400;
			font-style: italic;
		}
	}
	&__secondTitle {
		font-size: 1em;
		color: $color-second-title;
	}
	&__text {
		color:grey;
		font-size: 0.9em;
		padding-bottom: 3%;
	}
	&__myPic {
		right: 8%;
		width: $picture-value;
		min-width: $picture-value;
		height: $picture-value;
		border-radius: 100%;
		border: 18px solid white;
		box-shadow: 0px 0px 20px 5px $color-box-shadow;
		overflow: hidden;
		@include medium-large_screen {
			margin: auto;
			right: 0;
		}
		@include medium_screen {
			display: none;
		}
	}
	&__myJob {
		padding-top: 4%;
		right: 4%;
		@include small_screen {
			padding-left: 10%;
		}
	}
}

.myResume {
	&__container {
		padding: 3%;
		margin-left: 2.5%;
	}
	&__box {
		height: 30%;
		&--outlining {
			border-left: 1px solid $color-outlining;
			border-bottom: 1px solid $color-outlining;
			margin-left: 3%;
			padding-top: 4%;
		}
		&--first {
			padding-top: 1%;
		}
		&--skills {
			height: 40px;
			margin-bottom: 1%;
		}
	}
	&__categories {
		width: 100%;
	}
	&__margin {
		margin-bottom: 10%;
	}
	&__position {
		position: relative;
		right: 5.5%;
	}
	&__date {
		border: 2px solid $color-download-button;
		padding: 0.75% 1.5%;
		border-radius: 25px;
		background: white;
		font-size: 0.7em;
		font-weight: 600;
		color: grey;
	}
	&__place {
		color: $color-second-title;
		font-size: 0.8em;
	}
	&__indent {
		padding-left: 1.5%;
		padding-bottom: 1.5%;
	}
	&__title {
		font-size: 1em;
		font-weight: 700;
		&--categoryTitle {
			font-size: 1.3em;
			background: white;
			height: 60px;
		}
		&--content {
			font-size: 0.8em;
		}
	}
	&__text {
		color: grey;
		font-size: 0.9em;
		letter-spacing: 0.0005em;
		word-spacing: 0.005em;
	}
	&__underlining {
		background: $color-outlining;
		border: none;
		border-radius: 25px;
		width: 115px;
		height: 2.5px;
		display: flex;
		justify-content: flex-start;
		&--green {
			background: $color-download-button;
			width: 30%;
		}
	}
	&__skillSet {
		display: flex;
		justify-content: space-between;
		height: 22px;
	}
	&__progressBar {
		background: white;
		border: 2px solid lightgrey;
		border-radius: 25px;
		width: 100%;
		height: 13px;
		padding: 2px;
		display: flex;
		justify-content: flex-start;
	}
	&__progressLevel {
		&--comm {
			@include progressLevel(75%);
		}
		&--html {
			@include progressLevel(90%);
		}
		&--tmwork {
			@include progressLevel(75%);
		}
		&--bsnss {
			@include progressLevel(45%);
		}
		&--emInt {
			@include progressLevel(70%);
		}
		&--js {
			@include progressLevel(50%);
		}
		&--node {
			@include progressLevel(30%);
		}
		&--mysql {
			@include progressLevel(2%);
		}
	}
	&__levelDigit {
		font-size: 0.75em;
		color: $color-second-title;
	}
}
