.myBody {
    font-family: 'open_sansregular', sans-serif;
}

.myName {
	font-family: 'latoregular', sans-serif;
}

.navBar {
	font-family: 'montserratmedium', sans-serif;
}

.capitalLetter {
	font-family: 'latoblack', sans-serif;
}

.firstname {
	font-family: 'latobold', sans-serif;
}

.firstSection__mainTitle {
	font-family: 'open_sansbold', sans-serif;
}

.firstSection__text {
	font-family: 'montserratmedium', sans-serif;
}