.myBody {
    font-family: 'open_sansregular', sans-serif;
}

.myName {
	font-family: 'robotoregular', sans-serif;
}

.navBar {
	font-family: 'montserratmedium', sans-serif;
}

.capitalLetter {
	font-family: 'montserratblack', sans-serif;
}

.firstname {
	font-family: 'robotobold', sans-serif;
}

.firstSection__mainTitle {
	font-family: 'robotobold', sans-serif;
}

.firstSection__text {
	font-family: 'montserratmedium', sans-serif;
}

.myResume {
	font-family: 'muliregular', sans-serif;
}